/* ---- global styles ---- */
@media (min-width: 768px) {
  .button-shop-lg {
    padding: 20px 30px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1230px;
  }
}
/* ---- header styles ---- */
@media (min-width: 400px) {
  header .navigation .navigation-main {
    height: 64px;
  }
  header .navigation .navigation-main .navigation-header .navigation-brand img {
    height: 64px;
  }
}
@media (min-width: 768px) {
  header .navigation {
    background-color: #fff;
  }
  header .navigation .navigation-main {
    height: 64px;
  }
  header .navigation .navigation-main .navigation-header .navigation-brand img {
    height: 64px;
  }
  header .navigation .navigation-left ul li > a {
    display: block;
    padding: 10px 15px;
    color: #000;
    height: 100%;
    line-height: 44px;
    letter-spacing: 2px;
  }
  header .navigation .navigation-left ul li > a:hover {
    color: #009933;
  }
  header .navigation .navigation-left ul li > a span:first-of-type {
    border-bottom: 2px solid transparent;
  }
  header .navigation .navigation-left ul li.active {
    color: #009933;
  }
  header .navigation .navigation-left ul li.active > a {
    background-color: transparent;
    color: #009933;
  }
  header .navigation .navigation-left ul li.active > a:hover {
    background-color: transparent;
  }
  header .navigation .navigation-left ul li.active > a span:first-of-type {
    border-bottom: 2px solid #009933;
  }
  header .navigation .navigation-right ul {
    margin-right: 15px;
  }
  header .navigation .navigation-right ul li {
    border-left: none;
  }
  header .navigation .navigation-right ul li > a {
    color: #000;
    padding: 10px 5px;
  }
  header .navigation .navigation-right ul li > a:hover {
    color: #009933;
  }
  header .navigation .navigation-right ul li > a .icon-font {
    margin-right: 3px;
    font-size: 32px;
  }
  header .navigation .navigation-right ul li > a .cart-number {
    background-color: #009933;
    color: #fff;
  }
}
@media (min-width: 992px) {
  header .navigation .navigation-left {
    float: left;
    height: 100%;
    margin-left: 15px;
    width: auto;
    position: static !important;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    overflow: visible;
  }
  header .navigation .navigation-left ul {
    height: 100%;
  }
  header .navigation .navigation-left ul li {
    float: left;
    height: 100%;
  }
  header .navigation .navigation-left ul li > a {
    display: block;
    padding: 10px 15px;
    color: #000;
    height: 100%;
    line-height: 44px;
    letter-spacing: 2px;
    border-bottom: none;
    position: relative;
  }
  header .navigation .navigation-left ul li > a.sales-link {
    color: #fa4242;
  }
  header .navigation .navigation-left ul li > a.has-arrow, header .navigation .navigation-left ul li > a.has-arrow-colored {
    z-index: 2000;
    overflow: visible;
  }
  header .navigation .navigation-left ul li > a.has-arrow:after, header .navigation .navigation-left ul li > a.has-arrow:before {
    bottom: -1px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1000000;
  }
  header .navigation .navigation-left ul li > a.has-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    z-index: 1000000;
  }
  header .navigation .navigation-left ul li > a.has-arrow:before {
    border-color: rgba(231, 231, 231, 0);
    border-bottom-color: #e7e7e7;
    border-width: 11px;
    margin-left: -11px;
    z-index: 1000000;
  }
  header .navigation .navigation-left ul li > a.has-arrow-colored:after {
    bottom: -1px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 145, 227, 0);
    border-bottom-color: #0091e3;
    border-width: 11px;
    margin-left: -11px;
  }
  header .navigation .navigation-left ul li > a:hover {
    color: #009933;
  }
  header .navigation .navigation-left ul li > a span:first-of-type {
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
  }
  header .navigation .navigation-left ul li.active {
    color: #009933;
  }
  header .navigation .navigation-left ul li.active > a {
    background-color: transparent;
    color: #009933;
  }
  header .navigation .navigation-left ul li.active > a:hover {
    background-color: transparent;
  }
  header .navigation .navigation-left ul li.active > a span:first-of-type {
    border-bottom: 2px solid #009933;
  }
  header .navigation .navigation-left ul .nav-dropdown {
    opacity: 0.99;
    padding: 25px 0 0 20px;
    background: #fff;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    border-top: 1px solid #e7e7e7;
    overflow: visible;
    z-index: 1000;
    box-shadow: 0 30px 35px 0 rgba(0, 0, 0, 0.1);
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled {
    padding: 5px 0;
    background-color: #0091e3;
    text-align: center;
    overflow: visible;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li {
    display: inline-block;
    float: none;
    position: static;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > a {
    border-right: 1px solid #fff;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > a.has-arrow-down {
    position: relative;
    z-index: 1000;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > a.has-arrow-down.has-arrow-down:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 145, 227, 0);
    border-top-color: #0091e3;
    border-width: 15px;
    margin-left: -15px;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li:last-of-type > a {
    border-right: none;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > .accordion-content {
    padding-top: 30px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    text-align: left;
    z-index: 99;
    overflow: hidden;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > .accordion-content.centered-content {
    text-align: center;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > .accordion-content > li {
    height: auto;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > .accordion-content > li .accordion-wrapper {
    margin-bottom: 30px;
    text-align: left;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li:nth-of-type(1) {
    text-align: right;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li:nth-of-type(1) .accordion-content {
    display: block;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li:nth-of-type(2) {
    text-align: left;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > a {
    color: #fff;
    font-family: "benetton-light";
    height: 30px;
    line-height: 10px;
  }
  header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > a:focus, header .navigation .navigation-left ul .nav-dropdown.three-leveled > li > a:hover {
    text-decoration: underline;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown {
    text-align: center;
    padding: 25px 0 20px;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown .article-wrapper {
    display: block;
    float: none;
    text-align: center;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown .article-wrapper ul.accordion-outer {
    display: inline-block;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown .article-wrapper ul.accordion-outer li.accordion-wrapper {
    width: 260px;
    padding: 0 15px;
    border-right: 1px solid #e7e7e7;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown .article-wrapper ul.accordion-outer li.accordion-wrapper:last-of-type {
    border-right: none;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown .article-wrapper ul.accordion-outer li.accordion-wrapper a {
    padding: 0;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown .article-wrapper ul.accordion-outer li.accordion-wrapper a:nth-of-type(2) {
    margin-top: 40px;
    text-decoration: underline;
  }
  header .navigation .navigation-left ul .nav-dropdown.article-dropdown img {
    display: block;
    margin-bottom: 15px;
    width: 230px;
    max-width: 100%;
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper ul.accordion-outer {
    width: auto;
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper ul.accordion-outer li.accordion-wrapper {
    float: none;
    display: block;
    margin-right: 60px;
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper ul.accordion-outer li.accordion-wrapper a {
    display: inline-block;
    padding: 0;
    margin-bottom: 5px;
    height: auto;
    line-height: 1.2em;
    font-family: "benetton-heavy";
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper ul.accordion-outer li.accordion-wrapper .accordion-content {
    display: block;
    width: 156px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper ul.accordion-outer li.accordion-wrapper .accordion-content li {
    display: block;
    float: none;
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper ul.accordion-outer li.accordion-wrapper .accordion-content a {
    padding: 0;
    margin-bottom: 3px;
    padding-left: 30px;
    font-family: "benetton-regular";
  }
  header .navigation .navigation-left ul .nav-dropdown li.col-wrapper ul.accordion-outer li.accordion-wrapper .accordion-content a:hover {
    text-decoration: underline;
  }
  header .navigation .navigation-left ul .nav-dropdown img {
    max-height: 500px;
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  header .navigation .navigation-left ul .nav-dropdown {
    padding: 25px 7% 0 20px;
  }
}
@media (min-width: 1600px) {
  header .navigation .navigation-left ul .nav-dropdown {
    padding: 25px 14% 0 20px;
  }
}
/* ---- search box styles ---- */
@media (min-width: 768px) {
  .search-box .search-box-form input {
    font-size: 20px;
  }
  .search-box .search-box-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 20px;
  }
  .search-box .search-box-form input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 20px;
  }
  .search-box .search-box-form input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 20px;
  }
  .search-box .search-box-form input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .search-box .search-box-form {
    margin: 0 auto;
  }
  .search-box .search-box-form input {
    font-size: 24px;
    margin-right: 10px;
  }
  .search-box .search-box-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 24px;
  }
  .search-box .search-box-form input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 24px;
  }
  .search-box .search-box-form input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 24px;
  }
  .search-box .search-box-form input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 24px;
  }
  .search-box .search-box-form button {
    width: 200px;
  }
}
/* ---- banner styles ---- */
@media (min-width: 768px) {
  .banner #banner-slider-next {
    display: block;
  }
  .banner #banner-slider-prev {
    display: block;
  }
  .banner #banner-slider-pager {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner .banner-content h4 {
    font-size: 70px;
  }
  .banner .banner-content h4 span:nth-of-type(2) {
    font-size: 30px;
  }
  .banner .banner-content.banner-content-left {
    top: 20%;
    left: 30%;
  }
  .banner .banner-content.banner-content-right {
    top: 20%;
    right: 30%;
  }
  .banner .banner-content.banner-content-center h1 {
    font-size: 100px;
  }
}
@media (min-width: 1500px) {
  .banner .banner-content.banner-content-left {
    top: 20%;
    left: 25%;
  }
  .banner .banner-content.banner-content-right {
    top: 20%;
    right: 25%;
  }
}
/* ---- categories styles ---- */
@media (min-width: 768px) {
  .categories {
    padding: 90px 0;
    text-align: left;
  }
  .categories .categories-container article .category-collapse {
    padding-bottom: 0;
    border-top: 1px solid #0091e3;
    border-bottom: none;
  }
  .categories .categories-container article .category-list {
    display: block;
  }
  .categories .categories-container article .category-list li {
    padding: 5px 0;
    border-bottom: none;
  }
}
/* ---- most wanted styles ---- */
@media (min-width: 992px) {
  .most-wanted .carousel-container .owl-carousel .item .carousel-item-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
  .most-wanted .carousel-container .owl-carousel .item .carousel-item-info .name {
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 2.4px;
  }
  .most-wanted .carousel-container .owl-carousel .item .carousel-item-info .price {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .most-wanted .carousel-container .owl-carousel .item .carousel-item-info .name {
    font-size: 28px;
    margin-bottom: 15px;
    letter-spacing: 2.8px;
  }
  .most-wanted .carousel-container .owl-carousel .item .carousel-item-info .price {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
/* ---- wear collection styles ---- */
@media (min-width: 768px) {
  .wear-collection h2 {
    font-size: 44px;
  }
  .wear-collection .collection-card .row .col-sm-6:nth-of-type(1) {
    padding-right: 0;
  }
  .wear-collection .collection-card .row .col-sm-6:nth-of-type(2) {
    padding-left: 0;
  }
  .wear-collection .collection-card .collection-slider-container {
    padding-top: 20px;
  }
  .wear-collection .collection-card .collection-slider-container .collection-slider img {
    width: 170px;
    margin: 0 auto 30px;
  }
  .wear-collection .collection-card .collection-slider-container #collection-slider-next {
    display: block;
  }
  .wear-collection .collection-card .collection-slider-container #collection-slider-prev {
    display: block;
  }
  .wear-collection .collection-card .collection-slider-container #collection-slider-pager {
    bottom: -30px;
  }
}
@media (min-width: 992px) {
  .wear-collection .collection-card .collection-slider-container .collection-slider img {
    width: 277px;
  }
  .wear-collection .collection-card .collection-slider-container #collection-slider-pager {
    bottom: -25px;
  }
}
@media (min-width: 1200px) {
  .wear-collection .collection-card .collection-slider-container #collection-slider-pager {
    bottom: -50px;
  }
}
/* ---- share bar styles ---- */
/* ---- footer styles ---- */
@media (min-width: 768px) {
  footer .upper-footer {
    padding: 55px 0 5px;
  }
  footer .upper-footer .footer-category ul {
    text-align: left;
    background: transparent;
    padding: 0;
    margin: 0;
  }
  footer .upper-footer .footer-category ul li {
    display: block;
    margin: 0 0 0 12px;
  }
  footer .upper-footer .footer-category ul li a {
    text-transform: capitalize;
  }
  footer .upper-footer .follow-us li {
    margin: 0 5px 30px 0;
  }
  footer .upper-footer .country-selector {
    margin-bottom: 30px;
    margin-top: 0;
  }
  footer .upper-footer .footer-list .accordion-handler {
    margin-bottom: 25px;
    padding: 0;
    border-top: none;
    cursor: auto;
  }
  footer .upper-footer .footer-list ul {
    display: block;
  }
  footer .lower-footer ul li {
    margin: 0 5px 20px;
  }
  footer .lower-footer ul li:first-of-type, footer .lower-footer ul li:last-of-type {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  footer .lower-footer ul li {
    margin: 0 5px 0;
  }
}
@media (min-width: 1200px) {
  footer .upper-footer .follow-us li {
    margin: 0 15px 30px 0;
  }
}
/* ---- products styles ---- */
@media (min-width: 360px) and (max-width: 767px) {
  .products-list > .container > .row > .col-sm-4 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .products .products-header .products-filter-top-level {
    padding: 10px 0;
  }
  .products .products-header .products-filter-top-level > .container > .row > .col-xs-6:first-of-type {
    border-right: none;
  }
  .products .products-header .products-filter-top-level .filters ul {
    padding: 10px 0;
    height: 50px;
  }
  .products .products-header .products-filter-top-level .filters ul li {
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    border-left: 1px solid #e7e7e7;
    padding-left: 10px;
    cursor: pointer;
    float: left;
    position: relative;
  }
  .products .products-header .products-filter-top-level .filters ul li:first-of-type {
    padding-left: 0;
    border-left: none;
  }
  .products .products-header .products-filter-top-level .filters ul li.show-mode:after, .products .products-header .products-filter-top-level .filters ul li.show-mode:before {
    bottom: -21px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1000000;
  }
  .products .products-header .products-filter-top-level .filters ul li.show-mode:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    z-index: 1000000;
  }
  .products .products-header .products-filter-top-level .filters ul li.show-mode:before {
    border-color: rgba(231, 231, 231, 0);
    border-bottom-color: #e7e7e7;
    border-width: 11px;
    margin-left: -11px;
    z-index: 1000000;
  }
  .products .products-header .products-filter-top-level .filters ul li .icon-font {
    height: auto;
    transform: translateY(5px);
    float: none;
  }
  .products .products-header .products-filter-top-level .sort {
    float: right;
    position: relative;
  }
  .products .products-header .products-filter-top-level .sort .accordion-handler-filter {
    display: inline-block !important;
    background-color: #E8E8E8;
  }
  .products .products-header .products-filter-top-level .sort .accordion-handler-filter span {
    float: none;
  }
  .products .products-header .products-filter-top-level .sort .accordion-handler-filter span.icon-font {
    float: none;
  }
  .products .products-header .products-filter-top-level .sort .accordion-filter {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    display: none;
  }
  .products .products-header .products-filter-top-level .sort .accordion-filter li {
    border-top: 1px solid #e7e7e7;
  }
  .products .products-header .products-filter-top-level .sort .accordion-filter li:first-of-type {
    border-top: none;
  }
  .products .products-header .products-filter-top-level .sort .accordion-filter li a {
    display: block;
    padding: 15px 40px 15px 25px;
    font-family: "benetton-regular";
    font-size: 12px;
    letter-spacing: 1px;
  }
  .products .products-header .products-filter-top-level .sort .accordion-filter li a:focus, .products .products-header .products-filter-top-level .sort .accordion-filter li a:hover {
    background-color: #0091e3;
    color: #fff;
  }
  .products .products-header .products-filter-top-level .icon-font {
    width: 22px;
    height: 20px;
    font-size: 22px;
  }
  .products .products-header .accordion-content-filters {
    padding: 40px 0;
    border-top: 1px solid #e7e7e7;
    top: 134px;
  }
  .products .products-header .accordion-content-filters .colour-filter .color {
    display: inline-block;
    width: 22px;
    height: 10px;
    background-color: #E0D2BD;
    float: left;
    transform: translateY(5px);
  }
  .products .products-header .accordion-content-filters .accordion-filter {
    background-color: #fff;
  }
  .products .products-header .accordion-content-filters button {
    margin: 0;
  }
  .products .products-header .accordion-content-filters .accordion-filter-sort {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
}
/* ---- single-product styles ---- */
@media (min-width: 768px) {
  .single-product .product-showcase .bx-wrapper {
    max-width: 760px !important;
    margin-left: 130px;
    overflow: hidden;
  }
  .single-product .product-showcase #bx-pager {
    width: 116px;
    position: absolute;
    left: 14px;
    top: 25px;
  }
  .single-product .product-showcase #bx-pager a {
    width: 81px;
    display: block;
    border-bottom: 2px solid #f9f9f9;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .single-product .product-showcase #bx-pager a.active {
    border-color: #0091e3;
  }
  .single-product .product-showcase #bx-pager a img {
    max-width: 100%;
  }
  .single-product .product-showcase .slider-buttons #single-product-slider-prev {
    left: 150px;
  }
  .single-product .product-showcase .slider-buttons #single-product-slider-next {
    right: 20px;
  }
  .single-product .single-product-info {
    padding: 0 25px;
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .single-product .single-product-info {
    padding: 0;
    margin: 0;
  }
}
/* ---- register styles ---- */
@media (min-width: 768px) {
  .register {
    padding: 30px 15px;
  }
  .register .register-form .form-group, .register .register-form .date-picker, .register .register-form .select-box {
    display: inline-block;
    width: 49%;
  }
  .register .register-form .left-side {
    margin-right: 1.5%;
  }
  .register .register-form .captcha label {
    width: 49%;
    margin-right: 1.5%;
  }
  .register .register-form .captcha .captcha-img {
    display: inline-block;
    width: 49%;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .register {
    padding: 45px;
  }
}

/*# sourceMappingURL=responsive.css.map */
