@media (min-width: 768px) {
  .checkout {

    h2 {

      &+p {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .checkout-form {

      .form-card {
        padding: 30px;
      }

      .radio-wrapper {
        // height: 20px;
        line-height: 20px;
        margin-bottom: 25px;
      }

      .radio-label {
        // height: 20px;
        // padding-left: 5px;
        display: inline-block;
      }

      .right {

        .total {
          font-size: 22px;
        }
      }
    }
  }

}
