// benetton
@font-face {
  font-family: "benetton-regular";
  src: url("fonts/benetton/Benetton-Regular.eot?#iefix") format("embedded-opentype"),
       url("fonts/benetton/Benetton-Regular.otf")  format("opentype"),
	     url("fonts/benetton/Benetton-Regular.woff") format("woff"),
       url("fonts/benetton/Benetton-Regular.ttf")  format("truetype"),
       url("fonts/benetton/Benetton-Regular.svg#Benetton-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "benetton-light";
    src: url("fonts/benetton/benetton-light-5944352caaa57-webfont.eot");
    src: url("fonts/benetton/benetton-light-5944352caaa57-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/benetton/benetton-light-5944352caaa57-webfont.woff2") format("woff2"),
         url("fonts/benetton/benetton-light-5944352caaa57-webfont.woff") format("woff"),
         url("fonts/benetton/benetton-light-5944352caaa57-webfont.ttf") format("truetype"),
         url("fonts/benetton/benetton-light-5944352caaa57-webfont.svg#benettonlight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "benetton-heavy";
    src: url("fonts/benetton/benetton-heavy-594435ebd1ceb-webfont.eot");
    src: url("fonts/benetton/benetton-heavy-594435ebd1ceb-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/benetton/benetton-heavy-594435ebd1ceb-webfont.woff2") format("woff2"),
         url("fonts/benetton/benetton-heavy-594435ebd1ceb-webfont.woff") format("woff"),
         url("fonts/benetton/benetton-heavy-594435ebd1ceb-webfont.ttf") format("truetype"),
         url("fonts/benetton/benetton-heavy-594435ebd1ceb-webfont.svg#benettonbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "benetton-italic";
    src: url("fonts/benetton/benetton-oblique-59564299224bf-webfont.eot");
    src: url("fonts/benetton/benetton-oblique-59564299224bf-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/benetton/benetton-oblique-59564299224bf-webfont.woff2") format("woff2"),
         url("fonts/benetton/benetton-oblique-59564299224bf-webfont.woff") format("woff"),
         url("fonts/benetton/benetton-oblique-59564299224bf-webfont.ttf") format("truetype"),
         url("fonts/benetton/benetton-oblique-59564299224bf-webfont.svg#benettonoblique") format("svg");
    font-weight: normal;
    font-style: normal;
}

// london
@font-face {
    font-family: "london-regular";
    src: url("fonts/london/london-rg-webfont.eot");
    src: url("fonts/london/london-rg-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/london/london-rg-webfont.woff2") format("woff2"),
         url("fonts/london/london-rg-webfont.woff") format("woff"),
         url("fonts/london/london-rg-webfont.ttf") format("truetype"),
         url("fonts/london/london-rg-webfont.svg#londonmmregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "london-semibold";
    src: url("fonts/london/london-semibold-webfont.eot");
    src: url("fonts/london/london-semibold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/london/london-semibold-webfont.woff2") format("woff2"),
         url("fonts/london/london-semibold-webfont.woff") format("woff"),
         url("fonts/london/london-semibold-webfont.ttf") format("truetype"),
         url("fonts/london/london-semibold-webfont.svg#londonbetweenregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "london-bold";
    src: url("fonts/london/london-bold-webfont.eot");
    src: url("fonts/london/london-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/london/london-bold-webfont.woff2") format("woff2"),
         url("fonts/london/london-bold-webfont.woff") format("woff"),
         url("fonts/london/london-bold-webfont.ttf") format("truetype"),
         url("fonts/london/london-bold-webfont.svg#londontworegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

// open sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext")
