@media (min-width: 768px) {
  footer {

    .upper-footer {
      padding: 55px 0 5px;

      .footer-category {
        ul {
          text-align: left;
          background: transparent;
          padding: 0;
          margin: 0;

          li {
            display: block;
            margin: 0 0 0 12px;

            a {
              text-transform: capitalize;
            }
          }
        }
      }

      .follow-us {
        li {
          margin: 0 5px 30px 0;

          a {
            display: block;
          }
        }
      }

      .country-selector {
        margin-bottom: 30px;
        margin-top: 0;
      }

      .footer-list {

        .accordion-handler {
          margin-bottom: 25px;
          padding: 0;
          border-top: none;
          cursor: auto;
        }

        ul {
          display: block;
        }
      }
    }

    .lower-footer {

      ul {

        li {
          margin: 0 5px 20px;

          &:first-of-type, &:last-of-type {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  footer {

    .lower-footer {

      ul {

        li {
          margin: 0 5px 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  footer {

    .upper-footer {

      .follow-us {
        li {
          margin: 0 15px 30px 0;
        }
      }
    }
  }
}
