body {
  font-family: $font-primary;
  font-size: $font-size-primary;
  color: $color-text-primary;
  // overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
}

p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: $color-text-primary;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: $color-text-primary;
}

button {
  padding: 0;
  border: 0;
}

.fixed-header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 199;
}

.header-is-fixed {
  padding-top: $nav-main-height;
}

.two-navs-fixed {
  padding-top: $nav-main-height + $news-nav-height-320px !important;
}

.remove-padding {
  padding-bottom: 0 !important;
}

.accordion-content {
  display: none;
}

.bx-wrapper {
  box-shadow: none;
  border: none;
  margin: 0;
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  width: auto;
}

.prices {
  margin-bottom: 25px;

  .price-original {
    font-size: 16px;
    margin-right: 10px;
  }

  .price-discount {
    font-size: 14px;
    margin-right: 10px;
  }

  .price-final {
    font-size: 25px;
  }
}

.line-under:after {
  content: "";
  width: 26px;
  height: 6px;
  margin-top: 30px;
  display: block;
  background-color: $color-primary;
}

.help-block {
  text-transform: uppercase;
}

@import "../components/buttons";
@import "../components/overlay";
@import "../components/popin-box";
@import "../components/input";
@import "../components/checkboxes";
@import "../components/breadcrumb";
@import "../components/pop-over";
@import "../components/added-removed";
@import "../components/cookies-bar";
@import "../components/empty-cart";
@import "../components/pagination";
@import "../components/loader-spinner";
@import "../components/modal-popup";
