.guides-page {
  background-color: $bg-guides-page;

  .wrapper {
    .headline-small {
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 44px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    p {
      font-size: 19px;
      letter-spacing: 1px;
      line-height: 30px;
    }
  }
}
