@import "../components/nav-left-responsive";
@import "../components/nav-right-responsive";

@media (min-width: 400px) {
  header {

    .navigation {

      .navigation-main {
        height: $nav-main-height;

        .navigation-header .navigation-brand {

          img {
            height: $nav-main-height;
          }
        }
      }

    }
  }
}

@media (min-width: 768px) {
  header {

    .navigation {
      background-color: #fff;

      .navigation-main {
        height: $nav-main-height;

        .navigation-header .navigation-brand {

          img {
            height: $nav-main-height;
          }
        }
      }

      @include nav-left-sm;
      @include nav-right-sm;

    }
  }
}

@media (min-width: 992px) {
  header {
    .navigation {
      @include nav-left-md;
    }

  }
}

@media (min-width: 1200px) {
  header {
    .navigation {
      @include nav-left-lg;
    }

  }
}

@media (min-width: 1600px) {
  header {
    .navigation {
      @include nav-left-xlg;
    }

  }
}
