header {

  .navigation {
    background-color: $color-primary;
    position: relative;

    .upper-header {
      border-bottom: 1px solid $color-border-primary;
      background-color: $bg-nav;

      p {
        padding: 7px 0;
        font-size: 12px;
        color: $color-secondary;
        letter-spacing: 2px;
      }
    }
    .navigation-main {
      background-color: $color-primary;
      height: $nav-main-height;
      position: relative;

      .navigation-header .navigation-brand {
        height: auto;
        padding: 0;
        display: block;
        vertical-align: top;

        img {
          height: 50px;
        }
      }
    }

    @import "../components/nav-left";
    @import "../components/nav-right";


  }

}
