.help {
  padding: 60px 0;
  background-color: $bg-help;

  nav {
    padding: 0 25px;

    .help-carousel {
      margin-bottom: -1px;

      .owl-stage {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -ms-display: flexbox;
        display: flex;
      }

      li {
        height: 100%;
        display: flex;
        padding: 10px 15px;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        a {
          display: inline-block;
          font-size: 12px;
        }

        &.active {
          background-color: transparentize($color-primary, 0.8);
          a {
            color: #fa4242;
          }
        }
      }
    }

    .prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -40px;
      font-size: 44px;
      cursor: pointer;
    }

    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
      font-size: 44px;
      cursor: pointer;
    }
  }

  .tab {
    padding: 20px 20px 50px;
    background-color: transparentize($color-primary, 0.8);
    display: none;

    h2 {
      font-size: 24px;
      font-weight: 300;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-text-primary;
      margin-bottom: 35px;
    }
  }

  .clients-service {
    display: block;

    article {
      padding: 30px 30px 10px;
      height: 312px;
      background-color: transparentize($color-secondary, 0.8);
      color: #fff;
      position: relative;
      margin-bottom: 30px;

      h4 {
        font-weight: 700;
        margin-bottom: 30px;

         &+p {
           font-style: italic;
           font-size: 14px;
         }
      }


      .bottom {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 10px;

        a {
          padding: 0 7px;
          height: 32px;
          line-height: 32px;
          background-color: #fff;
          display: block;
          font-size: 14px;
          color: $color-text-primary;
          font-weight: 300;
          margin-top: 10px;
        }

        p {
          margin-top: 10px;
        }
      }

    }

    .more-info {
      max-width: 860px;
      background-color: #fff;
      padding: 20px;
      margin: 30px auto 0;
      color: $color-text-primary;

      p:first-of-type {
        margin-bottom: 25px;
      }
    }
  }

  .help-faq {
    .single-question {
      padding: 15px 15px 15px 0;
      border-top: 1px solid $color-border-primary;

      .accordion-handler {
        position: relative;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover, &:focus {
          color: $color-primary;
        }

        .icon-font {
          width: 28px;
          height: 28px;
          font-size: 28px;
          position: absolute;
          z-index: 1;
          top: 50%;
          right: -28px;
          transform: translateY(-50%);
        }

        &.show-mode {
          color: $color-primary;

          .icon-font:before {
            content: "\e910";
          }
        }
      }

      .accordion-content {
        padding: 15px 10px;
        background-color: transparentize($color-secondary, 0.8);
        margin-top: 15px;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .delivery-and-returns, .product-care {
    .content {
      background-color: transparentize($color-secondary, 0.8);
      padding: 45px 10px 10px;

      p {
        margin-bottom: 25px;

        span {
          font-weight: 500;
        }
      }

      .options {
        margin-bottom: 25px;

        p {
          margin: 0;
        }
      }
    }
  }

  .product-care {
    .content {
      p {
        margin-bottom: 15px;
      }
    }
  }
}
