.news {
  background-color: $bg-news;

  .news-header {
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    background-color: $bg-news-header;

    h1 {
      padding-top: 46px;
      padding-bottom: 5px;
      font-size: 40px;
      letter-spacing: 4px;
      font-family: $font-secondary-bold;
    }

    nav {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      background-color: $bg-news-header;
      padding: 40px 25px 0;
      height: $news-nav-height-320px;
      transition: 0.4s;

      .carousel-news-container {
        div {
          width: 28px;
          height: 28px;
          background-color: transparent;
          position: absolute;
          top: -45px;
          z-index: 20;
          cursor: pointer;

          &:first-of-type {
            left: 10px;
          }

          &:last-of-type {
            right: 10px;
          }

          span {
            color: #000;
            font-size: 40px;
          }
        }
      }

      ul {

        li {
          margin-bottom: 0;

          a {
            font-size: 12px;
            letter-spacing: 2px;
            display: block;
            padding-bottom: 10px;
            border-bottom: 2px solid transparent;
            position: relative;
            white-space: nowrap;

            &:not(.active):hover {
              color: $color-primary;
              border-color: $color-primary;
            }

            &.active {
              color: $color-primary;

              &:before {
                content: "";
                display: block;
                width: 100%;
                height: 5px;
                background-color: $color-primary;
                position: absolute;
                left: 0;
                bottom: -2px;
              }
            }
          }
        }
      }
    }
  }

  .news-content {
    width: 100%;
    padding: 40px 0;
    letter-spacing: 2px;

    .timeline-month-mobile {
      position: relative;
      z-index: 1;

      .month {
        display: block;
        margin: 0 auto 40px;
        width: 50%;
        border-radius: 26px;
        padding: 15px 0;
        color: $color-primary;
        border: 2px solid $color-primary;
        position: relative;
        z-index: 2;
        background-color: #f3f3f3;
      }

      .horizontal-line {
        display: block;
        position: absolute;
        width: 100vw;
        height: 3px;
        background-color: $color-primary;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }

    .news-article-wrapper {
      padding: 0 15px;

      .news-article {
        background-color: #fff;
        padding: 10px 10px 15px 10px;
        margin-bottom: 40px;

        .date {
          font-size: 12px;
          color: $color-primary;
        }

        .title {
          font-size: 28px;
          line-height: 36px;
          margin: 15px 0 35px;
        }

        .image {
          overflow: hidden;
          margin-bottom: 30px;

          img {
            width: 100%;
            transition: 0.4s;
          }

          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }

        .text {
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 30px;
        }

        .more {
          float: left;
          display: block;
          padding: 21px 22px;
          color: #fff;
          background-color: $color-primary;
          font-size: 13px;
        }

        .share {
          float: right;
          display: block;
          border: 2px solid $color-primary;

          .icon-font {
            font-size: 30px;
            width: 55px;
            height: 55px;
            line-height: 55px;
            color: $color-primary;
          }
        }
      }
    }

  }
}
