.popular {
  background-color: $bg-color-popular;

  h2 {
    color: #fff;
    background-color: $color-primary;
    padding: 10px 0;
    position: relative;

    &:after {
    	top: 100%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(0, 153, 51, 0);
    	border-top-color: #009933;
    	border-width: 10px;
    	margin-left: -10px;
    }
  }

  .carousel-container {
    .popular-carousel {

      .item {
        .title {
          color: $color-text-primary;
        }

        .prices {
          color: $color-text-primary;
        }
      }
      .slider-dots {
        text-align: center;
        margin-top: 0;

        .slider-dot {
          background-color: #000;

          &.active {
            background-color: transparent;
            border-color: $color-primary;
          }
        }
      }
    }
  }

}
