.products {
  @import "../components/filters-applied";

  .products-header {
    position: relative;
    .add-border {
      position: absolute;
      bottom: 5px;
      width: 50%;
      height: 1px;
      background-color: $color-border-primary;
      z-index: 60;
      display: none;

      &.border-sort {
        left: 0;
      }

      &.border-filters {
        right: 0;
      }
    }
    @import "../components/products-filter";
  }

  .products-list {
    padding: 40px 0;
    background-color: $bg-product-list;
    @import "../components/product-card";

    .products-list-footer {
      p {
        font-size: 16px;
        margin-bottom: 30px;
      }

      .more {
        font-size: 13px;
      }
    }
  }

  .show-mode {
    color: $color-secondary;

    .icon-font:before {
      content: "\e91a";
    }
  }
}
