@media (min-width: 768px) {
  .register {
    padding: 30px 15px;

    .register-form {
      .captcha {
        margin-top: 0;
      }
    }
  }

}

@media (min-width: 992px) {
  .register {
    padding: 45px;
  }

}
