.share-bar {
  padding: 40px 0;
  background-color: $bg-share-bar;

  h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  ul {
    li {
      margin: 15px;

      a {
        font-size: 14px;
        font-family: $font-primary-light;
      }
    }
  }
}
