@media (min-width: 768px) {
  .smart-washing {

    .wrapper {

      .item {
        text-align: left;

        .info {

          h2 {
            font-size: 26px;
          }

          p {
            padding-left: 20px;
          }
        }
      }
    }
  }

}
