
// fonts
$font-size-primary: 13px;
$font-primary: "Benetton-Regular";
$h1-font-size: 40px;

// colors
$color-primary: #009933;
$color-secondary: #0091e3;
$color-text-primary: #000;
$color-popin-box: #e7e7e7;

// navigation
$nav-main-height: 64px;
$nav-main-height-small: 50px;
