
// fonts
$font-size-primary: 13px;
$font-primary: "Benetton-Regular";

// colors
$color-primary: #009933;
$color-secondary: #0091e3;
$color-text-primary: #000;

// navigation
$nav-main-height: 64px;
$nav-main-height-small: 50px;
