// .navigation-toggle
.navigation-toggle {
  display: block;
  width: $nav-main-height;
  height: $nav-main-height;
  line-height: $nav-main-height;
  font-size: $nav-main-height;
  background-color: #fff;
}
