// .navigation-toggle
.navigation-toggle {
  display: block;
  width: $nav-main-height;
  height: $nav-main-height;
  line-height: $nav-main-height;
  font-size: $nav-main-height;
  background-color: #fff;
}

// login buttons
.login-button {
  display: block;
  width: 100%;
  height: 60px;
  color: #fff;
  text-align: center;
  font-size: 15px;
}
