// newsletter checkbox
.newsletter-checkbox {
  position: absolute;
  overflow: hidden;
  z-index: -1;


  &+label {
    margin-top: 15px;
    height: 17px;
    padding-left: 25px;
    overflow: visible;
    color: $color-footer-text;
    font-size: 14px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    background: url(assets/check-radio-small.png) no-repeat 0 0;

    a {
      text-decoration: underline;
      color: $color-footer-text;

      &:hover, &:focus {
        color: $color-footer-text-hover;
      }
    }
  }

  &:checked+label{
    background: url(assets/check-radio-small.png) no-repeat 0 -25px;
  }
}

// fake checkbox
.fake-checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  float: left;
  cursor: pointer;
  position: relative;

  &.checked {
    border-color: $color-secondary;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      background: $color-secondary;
    }
  }
}

// fake radio for size picker
.fake-radio {
  display: inline-block;
  width: 58px;
  height: 26px;
  line-height: 26px;
  border: 1px solid $color-text-primary;
  color: $color-text-primary;
  margin-right: 4px;
  cursor: pointer;

  &:hover, &:focus {
    color: #fff;
    background-color: $color-primary;
    border-color: transparent;
  }

  &.picked {
    color: #fff;
    background-color: $color-primary;
    border-color: transparent;
  }
}

.fake-radio-classic {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  margin-right: 10px;
  position: relative;
  float: left;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background: transparent;
  }

  &.picked:before {
    background: $color-primary;
  }
}
