.cookies-bar {
  padding: 15px;
  background-color: $bg-cookies-bar;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;

  p {
    font-size: 12px;
    float: left;
    width: 75%;

    a {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  .button-cookies {
    float: right;
  }
}
