input, select, textarea {
  border: none;
  border-bottom: 1px solid #dcdcdc;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  padding: 8px 10px;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    font-style: normal;
    color: #000;
    letter-spacing: 0.03em;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px;
    font-style: normal;
    color: #000;
    letter-spacing: 0.03em;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    font-size: 15px;
    font-style: normal;
    color: #000;
    letter-spacing: 0.03em;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    font-style: normal;
    color: #000;
    letter-spacing: 0.03em;
  }

  &:focus {
    outline: none;
  }
}

// select
.select-box {
  position: relative;
  overflow: hidden;

  select {
   position: relative;
   z-index: 2;
   width: 110%;
   -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none; /* cant take off select border with border: none because reasons */
    -ms-appearance: none;
    appearance: none;
  }

  select::-ms-expand {
    display: none;
  }

  .icon-font {
    width: 18px;
    height: 18px;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
}

// textarea
textarea {
  resize: none;
}
