.navigation-left {
  width: calc(100% - 64px);
  opacity: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -1000px;
  z-index: 1000;
  max-height: 100%;
  overflow-y: auto;
  transition: 0.6s;

  ul {

    li {
      position: relative;

      &:last-of-type {
        border-bottom: none;
      }

      &.bottom-links {
        border-top: 3px solid #e7e7e7;

        >a {

          span {
            display: inline-block;
            vertical-align: top;
            height: 100%;
            line-height: $nav-main-height - 20;
          }
        }

        .icon-font {
          font-size: 24px;
          margin-right: 5px;
        }
      }

      >a {
        display: block;
        padding: 10px 15px;
        color: $color-text-primary;
        height: 100%;
        line-height: $nav-main-height - 20;
        letter-spacing: 2px;
        border-bottom: 1px solid #e7e7e7;
        // float: left;

        &.sales-link {
          color: #fa4242;

          span {
            color: #fa4242;
          }
        }

        &:hover, &:focus {
          color: $color-primary;
        }

        span:not(.icon-font):first-of-type {
          padding-bottom: 10px;
          border-bottom: 2px solid transparent;
        }

      }

      .accordion-handler {
        color: $color-text-primary;
        display: block;
        width: $nav-main-height;
        height: $nav-main-height;
        line-height: $nav-main-height;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 10;
        // font-family: "benetton-light";
        // float: left;

        &::before {
          content: "+";
          font-size: 20px;
        }

        &.show-mode::before {
          content: "-";
          font-size: 20px;
        }
      }

      &.active {
        color: $color-primary;

        >a {
          background-color: transparent;
          color: $color-primary;

          &:hover {
            background-color: transparent;
          }

          span:first-of-type {
            border-bottom: 2px solid $color-primary;
          }
        }
      }
    }

    .nav-dropdown {
      background-color: #fff;

      &.three-leveled {

        >li {

          >a {
            font-family: $font-primary-light;

            &:hover, &:focus {
              text-decoration: underline;
            }
          }
        }
      }

      &.article-dropdown {
        a {
          padding: 10px 25px;
        }
      }
      li.col-wrapper {
        ul.accordion-outer {
          li.accordion-wrapper {
            >a {
              padding: 10px 25px;

              &:hover {
                color: $color-text-primary;
                text-decoration: underline;
              }
            }
            .accordion-content {

              a {
                padding: 10px 35px;

                &:hover {
                  color: $color-text-primary;
                }
              }
            }

          }
        }
      }
    }
  }

  .navigation-toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
  }

  &.navigation-show {
    left: 0;
    opacity: 1;
  }
}
