@media (min-width: 768px) {
  .pagination-custom {

    li {

      a {
        width: 44px;
        height: 44px;
        line-height: 44px;

        .icon-font {
          height: 44px;
          line-height: 44px;
        }
      }
    }
  }

}
