.pop-over {
  display: block;
  padding: 10px;
  background-color: $color-primary;
  color: #fff;
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  display: none;

    &:after {
    	bottom: 100%;
    	right: 8px;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(0, 153, 51, 0);
    	border-bottom-color: $color-primary;
    	border-width: 6px;
    	margin-left: -6px;
    }

    &:hover, &:focus {
      color: #fff;
    }
}
