.products-filter-top-level {
  padding: 5px 0;
  font-family: $font-primary-light;
  position: relative;
  background-color: $bg-product-filter;
  z-index: 49;

  > .container > .row > .col-xs-6:first-of-type {
    border-right: 1px solid $color-border-primary;
  }

  > .container > .row > .col-xs-6:nth-of-type(2) {
    position: static;
  }

  .filters {
    position: relative;

    .show-filters {
      padding: 15px 25px;
      cursor: pointer;

      .icon-font {
        float: right;
        transform: translateY(-1px);
      }

      &.show-mode {
        color: $color-secondary;

        .icon-font:before {
          content: "\e91a";
        }
      }
    }
  }

  .sort {
    > .text {
      display: inline-block;
      margin-right: 20px;
      height: 20px;
      line-height: 20px;
    }

    .accordion-handler-filter {
      display: block;
      padding: 15px 25px;
      background-color: transparent;
      height: 50px;
      cursor: pointer;

      span {
        display: inline-block;
        vertical-align: top;
        height: 20px;
        line-height: 20px;
        margin: 0;
        float: left;

        &.icon-font {
          float: right;
        }
      }
    }
    .accordion-filter {
      background-color: $bg-product-filter-dropdown;
      position: absolute;
      top: calc(100% - 4px);
      right: 0;
      z-index: 100;
      width: 100%;
      display: none;

      li {
        border-top: 1px solid $color-border-primary;

        &:first-of-type {
          border-top: none;
        }

        a {
          display: block;
          padding: 15px 40px 15px 25px;
          font-family: $font-primary;
          font-size: 12px;
          letter-spacing: 1px;

          &:focus,
          &:hover {
            background-color: $color-secondary;
            color: #fff;
          }
        }
      }
    }
  }

  .icon-font {
    width: 22px;
    height: 20px;
    font-size: 22px;
  }
}

.accordion-content-filters {
  background-color: $bg-product-filter-dropdown;
  position: absolute;
  top: 119px;
  left: 0;
  width: 100%;
  z-index: 50;
  display: none;

  .accordion-handler-filter {
    display: none;
    padding: 0 15px 0 25px;
    height: 58px;
    line-height: 58px;
    position: relative;
    border-bottom: 1px solid $color-border-primary;
    font-size: 11px;
    cursor: pointer;

    &.show-mode {
      color: $color-text-primary;

      .icon-font:before {
        content: "\e910";
      }
    }

    .icon-font {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 30px;
      position: absolute;
      right: 25px;
      top: 14px;
    }
  }

  .colour-filter {
    .color {
      margin-left: 8px;
      display: inline-block;
      width: 22px;
      height: 10px;
      float: left;
      transform: translateY(5px);
    }
  }

  .accordion-filter {
    display: none;
    background-color: $bg-product-list;
    padding-top: 20px;

    label {
      margin-bottom: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: normal;

      input {
        display: none;
      }

      .label {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        color: $color-text-primary;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: normal;
        float: left;
        transform: translateY(-1px);
      }
    }
  }

  button {
    padding: 0 15px;
    height: 36px;
    line-height: 32px;
    font-family: $font-primary;
    border: 2px solid $color-primary;
    color: $color-primary;
    background-color: transparent;
    letter-spacing: 2px;
    display: none;
    margin: 20px 0;

    &.close-btn {
      display: block;
    }
  }
}
