@mixin products-filter-sm {}
@mixin products-filter-md {
  .products-filter-top-level {
    padding: 10px 0;

    > .container > .row > .col-xs-6:first-of-type {
      border-right: none;
    }

    .filters {
      ul {
        padding: 10px 0;
        height: 50px;

        li {
          height: 30px;
          line-height: 30px;
          margin-right: 5px;
          border-left: 1px solid #e7e7e7;
          padding-left: 10px;
          cursor: pointer;
          float: left;
          position: relative;

          &:first-of-type {
            padding-left: 0;
            border-left: none;
          }

          &.show-mode:after,
          &.show-mode:before {
            bottom: -21px;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            z-index: 1000000;
          }

          &.show-mode:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px;
            z-index: 1000000;
          }

          &.show-mode:before {
            border-color: rgba(231, 231, 231, 0);
            border-bottom-color: #e7e7e7;
            border-width: 11px;
            margin-left: -11px;
            z-index: 1000000;
          }

          .icon-font {
            height: auto;
            transform: translateY(5px);
            float: none;
          }
        }
      }
    }

    .sort {
      float: right;
      position: relative;

      .accordion-handler-filter {
        display: inline-block !important;
        background-color: $color-product-list;

        span {
          float: none;

          &.icon-font {
            float: none;
          }
        }
      }

      .accordion-filter {
        background-color: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 100;
        display: none;

        li {
          border-top: 1px solid #e7e7e7;

          &:first-of-type {
            border-top: none;
          }

          a {
            display: block;
            padding: 15px 40px 15px 25px;
            font-family: $font-primary;
            font-size: 12px;
            letter-spacing: 1px;

            &:focus,
            &:hover {
              background-color: $color-secondary;
              color: #fff;
            }
          }
        }
      }
    }

    .icon-font {
      width: 22px;
      height: 20px;
      font-size: 22px;
    }
  }

  .accordion-content-filters {
    padding: 40px 0;
    border-top: 1px solid #e7e7e7;
    top: 134px;

    .colour-filter {
      .color {
        display: inline-block;
        width: 22px;
        height: 10px;
        background-color: #E0D2BD;
        float: left;
        transform: translateY(5px);
      }
    }

    .accordion-filter {
      background-color: #fff;
    }

    button {
      margin: 0;
    }

    .accordion-filter-sort {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
    }
  }
}
@mixin products-filter-lg {}
