
// FONTS
$font-size-primary: 13px;

$font-primary: "benetton-regular";
$font-primary-light: "benetton-light";
$font-primary-bold: "benetton-heavy";
$font-primary-italic: "benetton-italic";

$font-secondary: "london-regular";
$font-secondary-semibold: "london-semibold";
$font-secondary-bold: "london-bold";

$font-tertiary: "Open Sans";

$h1-font-size: 40px;

// COLORS

// main colors
$color-primary: #009933;
$color-secondary: #0091e3;

// text colors
$color-text-primary: #000;
// $color-text-secondary: #000;

$color-footer-text: #888888;
$color-footer-text-hover: #ffffff;
$color-footer-text-lower: #585858;
$color-footer-headline: #fff;

// border colors
$color-border-primary: #e7e7e7;

// background colors by sections
$bg-nav: #fff;
$bg-categories: #fff;
$bg-wear-collection: #fff;
$bg-breadcrumb: transparent;
$bg-product-filter: #fff;
$bg-product-filter-dropdown: #fff;
$bg-filters-applied: #f4f4f4;
$bg-single-product: #fff;
$bg-register: #f9f9f9;
$bg-customer-service: #f9f9f9;
$bg-customer-service-page: #fff;
$bg-customer-service-nav: #efefef;
$bg-guides-page: #f2f2f2;
$bg-news: #f3f3f3;
$bg-news-header: #f3f3f3;
$bg-single-news: #f2f2f2;
$bg-cart: #f9f9f9;
$bg-popin-box: #e7e7e7;
$bg-search-box: #fff;
$bg-share-bar: #f5f5f5;
$bg-footer-upper: #1e1e1e;
$bg-footer-lower: #000000;
$bg-product-list: #E8E8E8;
$bg-cookies-bar: #E8E8E8;

// NAVIGATION height
$nav-main-height: 64px;
$nav-main-height-small: 50px;

$news-nav-height-320px: 71px;
$news-nav-height-682px: 46px;
